 .scroll-container {
     font-size: var(--tag-fonts);
     text-transform: var(--text-transform);
     letter-spacing: var(--tag-spacing);
     font-weight: var(--tag-weight);
     border: 0px solid black;
     overflow: hidden;
     display: flex;
     flex-wrap: nowrap;
     white-space: nowrap;
     justify-content: center;
     padding-bottom: var(--border-radius);
     position: absolute;
     bottom: 0;
     left: 0.8rem;
    right: 0.8rem;
     gap: 22px;
     padding: 2px 0;
 }

 .scroll-container ul {
     /* list-style: none; */
     display: flex;
     column-gap: 22px;
     margin: 0;
 }

 .scroll-container li {
     display: flex;
     column-gap: 22px;
     align-items: center;
 }

 .scroll-container li:after {
     background: currentColor;
     content: "";
     display: inline-flex;
     height: 5px;
     width: 5px;
     border-radius: 100%;
 }

 .scroll-text {
     /* animation properties */
     -moz-transform: translateX(100%);
     -webkit-transform: translateX(100%);
     padding-left: 0;
     transform: translateX(100%);
     -moz-animation: tag-animation var(--tag-speed) linear infinite;
     -webkit-animation: tag-animation var(--tag-speed) linear infinite;
     animation: tag-animation var(--tag-speed) linear infinite;
 }

 /* for Firefox */
 @-moz-keyframes tag-animation {
     from {
         -moz-transform: translateX(100%);
     }

     to {
         -moz-transform: translateX(-100%);
     }
 }

 /* for Chrome */
 @-webkit-keyframes tag-animation {
     from {
         -webkit-transform: translateX(100%);
     }

     to {
         -webkit-transform: translateX(-100%);
     }
 }

 @keyframes tag-animation {
     from {
         -moz-transform: translateX(100%);
         -webkit-transform: translateX(100%);
         transform: translateX(100%);
     }

     to {
         -moz-transform: translateX(-100%);
         -webkit-transform: translateX(-100%);
         transform: translateX(-100%);
     }
 }