/* ===Header================================================================== */
    .header__inline-menu .secondary-main ul li a{
        font-weight: 400;
        font-size: 18px;
    }
    .list-menu.list-menu--inline ul li a span{
        font-weight: 400;
        font-size: 16px;
    }
    .list-menu.list-menu--inline ul li a:hover span,
    ul.list-menu.list-menu--inline li a span:hover,
    .sw-header details[open]>.header__menu-item span,
    .sw-header details[open]>.header__menu-item .icon-caret,
    .sw-header ul.mega-menu__list.page-width>li>ul.list-unstyled li a:hover{
        color: #BF0436;
    }
    .sw-header .mega-menu__content {
        box-shadow: 0px 4px 20px 0px #0000001A;
        width: 50%;
        right: 0;
        left: 0;
        margin: 0 auto;
        display: table;
        border-radius: 20px;
        padding: 44px 0;
    }
    .sw-header .header__menu-item .icon-caret {
        right: 0;
        top: 35%;
        color: #0D0D0D;
    }
    .sw-header ul.mega-menu__list.page-width {
        gap: 68px;
        padding: 0 36px;
        text-align: left;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .sw-header .mega-menu__link--level-2 {
        font-weight: 500;
        font-size: 22px;
        line-height: 1;
        padding: 0 0 16px;
    }
    .sw-header ul.mega-menu__list.page-width>li>ul.list-unstyled li a {
        font-weight: 400;
        font-size: 17px;
        line-height: 1;
        padding: 0 0 13px;
    }
    .sw-header ul.mega-menu__list.page-width>li>ul.list-unstyled:last-child li:last-child a {
        padding: 0;
    }
    .sw-header ul.mega-menu__list.page-width {
        gap: 68px;
        padding: 0 36px;
        grid-template-columns: unset;
        grid-auto-flow: column;
        grid-auto-columns: auto;
    }
    .middel-header .main-header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .middel-header nav .header__menu-item span{
        color: #0D0D0D;
    }
    .middel-header nav .header__menu-item {
        font-size: 16px;
        font-weight: 400;
        padding: 12px 17px 16px 17px;
    }
    .secondary-main ul li a.header__menu-item {
        font-size: 18px;
        font-weight: 400;
    }
    .middel-header nav.header__inline-menu {
        text-align: center;
    }
    .sw-header nav.header__inline-menu {
        border-bottom: 0.5px solid #757575;
    }
    .sw-header #HeaderMenu-new-in{
        position: relative;
    }
    .sw-header #HeaderMenu-new-in:after {
        content: '';
        position: absolute;
        background: url('https://cdn.shopify.com/s/files/1/0668/3364/5708/files/fire.svg?v=1726309220') no-repeat;
        background-size: auto;
        background-position: center center;
        left: 0;
        width: 12px;
        height: 12px;
    }

/* ===Auto-Scrolling_Promotion================================================================== */
    .sw-announcement p {
        font-weight: 400;
        font-size: 11px;
    }