.content-and-comparison-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  column-gap: 5rem;
  row-gap: 0;
}
.content-and-comparison-table--no-content {
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (max-width: 899px) {
  .content-and-comparison-table {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 900px) {
  .content-and-comparison-table--table-first .comparison-table-container {
    order: -1;
  }
  .table_center{
    grid-template-columns: repeat(1, 1fr);
  }
}

.content-and-comparison-table .content-container .title {
  margin-top: 0;
}
.comparison-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 50rem;
}
.table_center .comparison-table-container{
  max-width: 75%;
  min-width: 50%;
  margin: auto;
}
@media screen and (max-width: 899px) {
  .table_center .comparison-table-container{
    max-width: unset;
  }
}
.table_center .comparison-table th:first-of-type,.table_center .comparison-table td:first-of-type {
  width: 46%;
  text-align: left;
}
.comparison-table {
  flex-grow: 1;
  border-spacing: 0;
}
.comparison-table tbody {
 /* box-shadow: var(--table-shadow-horizontal-offset) var(--table-shadow-vertical-offset) var(--table-shadow-blur-radius) var(--table-border-width) rgba(var(--color-foreground),var(--table-shadow-opacity)); */
  /*box-shadow:var(--table-border-width) var(--table-border-width) var(--table-border-width) calc(var(--table-border-width) + var(--table-shadow-horizontal-offset)) rgb(var(--color-foreground)), var(--table-shadow-horizontal-offset) var(--table-shadow-vertical-offset) var(--table-shadow-blur-radius) var(--table-border-width) rgba(var(--color-button), var(--alpha-button-background));        
*/
 border-radius:  var(--table-corner-radius);
}
.comparison-table td {
  padding: 24px 1.5rem;
  text-align: center;
  box-shadow: inset 0 0.1rem 0 0 rgba(var(--color-foreground), 0.05),
    inset 0 0.1rem 0 0 rgba(var(--color-foreground), 0.05);
}
.comparison-table img {
  vertical-align: middle;
}
.comparison-table th {
  padding: 24px 42px;
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 500;
}
.comparison-table__logo{
  color: #BF0436;
}
.comparison-table tbody tr:first-of-type .comparison-table__row-name {
  border-radius:  var(--table-corner-radius) 0 0 0;
}
.comparison-table tbody tr:last-of-type .comparison-table__row-name {
  border-radius: 0 0 0  var(--table-corner-radius);
}
.comparison-table tbody tr:first-of-type td:last-child {
  border-radius: 0  var(--table-corner-radius) 0 0;
}
.comparison-table tbody tr:last-of-type td:last-child {
  border-radius: 0 0  var(--table-corner-radius) 0;
}
.comparison-table tbody td:not(.comparison-table__row-name) {
  padding: 1rem 2rem;
}
.comparison-table__x {
  width: 28px;
  height: 28px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.comparison-table__checkmark {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  margin: auto;
  display: inline-block;
}
.comparison-table__x span {
  content: "";
  display: block;
  height: 2px;
  width: 1.8rem;
  background: #fff;
  border-radius: 1rem;
  transform: rotate(45deg);
  flex-shrink: 0;
  flex-grow: 0;
}
.comparison-table__x span:nth-child(2) {
  position: absolute;
  transform: rotate(-45deg);
}
.comparison-table .comparison-table__row-name h3 {
  font-size: 1.8rem;
  margin: 0;
  text-align: center;
  font-weight: 500;
  color: #555!important
}

.content-and-comparison-table .content-container .title{
  font-weight: 500;
  text-transform: capitalize;
}

@media screen and (max-width: 750px) {
  .comparison-table .comparison-table__row-name h3,
  .comparison-table th {
    font-size: 1.6rem;
  }
  .comparison-table__checkmark,
  .comparison-table__x {
    width: 20px;
    height: 20px;
  }
  /* .content-and-comparison-table .content-container .title{
    font-size:23px;
  } */

  .comparison-table .comparison-table__row-name h3 {
    font-size: 1.5rem;
    text-align: left;
  }
  .comparison-table th{
    font-size: 1.2rem;
    padding: 14px 10px;
  }
  .table_center .comparison-table th:first-of-type,
  .table_center .comparison-table td:first-of-type {
    width: 76%;
    padding: 10px 12px;
  }
}
@media screen and (max-width: 500px) {
  .comparison-table__logo img {
    max-width: var(--mobile-logo-width);
    height: auto;
  }
}


@media (max-width: 767px) {
  .image-with-text__content {
    padding: 10px 15px;
}
}